<h2>I'm looking for..</h2>
<input type="text" placeholder="Enter a job discription"style="color: grey;
background-color: white;
margin-left: 30%;
width: 42%;
height: 45px;
border-color: white;">
<button style="color: white;
background-color: skyblue;
height: 42px;
width: 70px;
border-color: skyblue;
margin-left: 2%;">Search</button><br><br>
<div class="jobType">
    <div style="display: flex; margin-left: 30%;">
       <span style="display: flex;gap: 8px;margin-right: 10px;">
           <input style="height: 20px;" type="checkbox" id="#check1">
            <label for="check1"style="color: white;">Full-Time</label>
       </span> 
       <span style="display: flex;gap: 8px;">
           <input  style="height: 20px;" type="checkbox" id="#check2">
           <label for="check2"style="color: white;">Part Time/Casual/Freelance</label>
       </span>
       <select style="color: black;
background-color: white;
margin-left: 14%;
width: 15%;
height: 30px;
margin-bottom: 10%;
border-color: white;">
    <option>Select Location</option>
    <option type="pune">pune</option>
    <option type="nagpur">nagpur</option>
    <option type="delhi">delhi</option>
    <option type="banglore">banglore</option>
    <option type="mumbai">mumbai</option>
    <option type="other">other</option>
</select><br><br> 

    </div>
    <div>
       
    </div>
</div>
<button style="color: white;background-color: skyblue; height: 42px;width: 80px;border-color: skyblue;
border-radius: 5px;
margin-left: 35%;" value="register" (click)="openRegisterForm()">Register</button>
