
<div class="box">
   <div class="parentNavigationBar">
       <div class="demoTitle">
            <!-- <span class="demoSpan">DEMO APP</span> -->
       </div> 
       <div class="navbar">
        <span class="nav-item" (click)="toggleActive(item)" [ngClass]="{'active': checkActiveRoute(item.route)}" *ngFor="let item of navItems">{{ item.label }}</span>
      </div>
      
   </div>
<router-outlet></router-outlet>

</div>
<footer style="height: 200px;">

<h3>We're leaders in</h3>
<h1>Creative Digital Recruitment</h1>
<hr>
<h5>Based in surry hills, the creative hub of sydney we are surrounded by creativity
 and that reflects on the type of jobs we recruit for.</h5>
<button style="color: skyblue; background-color: white;border-color: skyblue;height: 20pt;margin-left: 45%;" >FIND MORE ABOUT US</button>
</footer>



<ng-template #registerDialog>
    <h1>Hello World</h1>
</ng-template>